__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.github
.dvc
data/
mlruns/
metrics.json
task.md
dvc.lock
dvc.yaml
README.md
MLOPS_Assignment2.pdf
assignment_text.txt
extract_pdf.py
