# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# DVC
/data

.dvc/config.local
.dvc/tmp/
.dvc/cache/

# IDE
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/

# Experiment Tracking
mlruns/
*.pth
*.pkl

# Agent Metadata
.agent/
project_rules.md
